// Override boostrap vars
$enable-rounded: false;
// Use the system UI font: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

@import 'bootstrap/scss/bootstrap';

iframe {
  overflow: hidden;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.1);
  border: solid 1px rgba(0,0,0,0.1);
}
