// Override boostrap vars
$enable-rounded: false;
$brand-primary: #18C8A0;
// Use the system UI font: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

@import 'bootstrap/scss/bootstrap';
@import './components/page-transitions';

#map {
  width: 98%;
  margin: auto;
  height: 340px;
}
