// Override boostrap vars
$btn-font-weight:         normal;
$enable-rounded:          true;
$border-radius:           3px;
$border-radius-lg:        3px;
$border-radius-sm:        1px;

// Use the system UI font: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$gray-dark:                 #37474F;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;
$brand-primary:             #FFC107;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;
$body-bg:                   #FAFAFA;
$code-color:                hotpink;
$code-bg:                   $gray-lighter;

@import 'bootstrap/scss/bootstrap';
@import './components/page-transitions';

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Biryani', $font-family-sans-serif;
  letter-spacing: 1px;
  line-height:1.4;
}
.btn {
  letter-spacing: 1px;
}

.h-100 {
  min-height:calc(100vh - 70px - 65px);
}

html, body, #react-root {
  height: 100%;
}

.full-height {
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    position: relative;
    overflow-y: auto;
    flex: 1 1;
    > * {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    > * > * {
      width: 100%;
      height: 100%;
    }
  }
  .navbar, .footer {
    flex: none;
  }
}

#map {
  width: 98%;
  margin: auto;
  height: 340px;
}
.icon {
  display: inline-block;
  margin: 0 auto;
  width: 2em;
  height: 2em;
}
.icon svg {
  fill: currentColor;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 1;
}
.navbar .icon-logo-table {
  width: 37px;
  height:48px;
  padding-top:6px;
}
.footer {
  width:100%;
  font-size: 20px;
  a {
    color:white;
  }
}
.tableflip {
  letter-spacing: 1px;
  font-family: 'Biryani', $font-family-sans-serif;
}
